<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
    <h1>留言详情</h1>
    <%- detail %>

<script type="text/javascript">

</script>
</body>
</html>
