<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
    <h1>登录</h1>
    <input type="text" id="user" placeholder="用户名">
    <input type="password" id="pw" placeholder="密码">
    <button id="btn1">登录</button>
    <button onclick="location.href='/register'">注册</button>
<script type="text/javascript">
    $('#btn1').click(function () {
        $.ajax({
            type:'post',
            url:'/users/login',
            data:{
                name:$('#user').val(),
                pw:$('#pw').val()
            },
            success:function(data){
                // console.log(data)
                if(data==0){
                    alert('登录失败')
                }else if(data==1){
                    alert('登录成功')
                    location.href=  '/'
                }else{
                    alert('登录异常')
                }
            }
        })
    })
</script>
</body>
</html>
